# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de entorno (comentado para que se suba)
# .env

# Logs
logs/
*.log

# Base de datos (solo desarrollo)
database/database.db

# Archivos del sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporales
*.tmp
*.temp

# Build outputs
dist/
build/